.header{
    /* background-color: rgb(131, 245, 156); */
    background-image: url("food.jpg");
    color:white;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    padding-bottom: 200px;
}

.display-1{
    position: relative;
    right: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.brand-icon{
    font-size: 70px;
    position: relative;
    right: 30px;
    top:10px;
}

.input-group{
    /* margin-top: 20px; */
    position: relative;
    top: 100px;
}


.btn:hover{
    background-color: rgb(146, 134, 134);
}

.btn:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 150%;
    padding-left: 135%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
  
  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .btn{
      width: 80px;
  }

  .card{
      margin-top: 60px;
      margin-left: 20px;
      /* margin-right: 20px; */
      position: relative;
      right: 20px;
  }
